:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@import "tailwindcss";
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f0f0f0;
    --secondary-text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0 3rem 0 3rem;
}

.pointer {
  cursor: pointer;
}
.btn {
  border-radius: 0.4rem;
  padding: 7px 8px 7px 8px;
  cursor: pointer;
}

.step {
  width: 14rem;
  height: 7rem;
  background-color: rgb(38, 35, 35);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}

@media (max-width:480px) {
  #navbar{
    width: 100vw;
    margin-bottom: .5rem;
    margin-top: .3rem;
    padding: 1rem 0 1rem 0;
  }
  .logo{
    font-size: 18px;
    margin-left: 1.6rem;
  }
  .search{
  display: none;
  }
  .hero{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
body{
  padding: 0;
  margin-left: .4rem;
  margin-right: .4rem;
}
  html,body{
    width:100%;
  }
  .be-a-doc{
    display: none;
  }
  .sign-in{
    display: flex;
    padding: 4px;
    font-size: 15px;
    position: absolute;
    right: 12px;

  }
  .how-it-works{
    width: 100vw;
    display: flex;
        flex-wrap: wrap;
        gap: 4px;
        padding-bottom: 2rem;


  }
 
  .works-div{
    margin: 2rem 0 0 0;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .works-div h3{
    margin-top: 2rem;
  }
  .symptoms{
    width: 100vw;
    margin-top: .2rem;
  }
  .hero{
    margin-top: 6.9rem;
    margin-bottom: 0rem;
    flex-direction: column-reverse;
    
  }
  .sym{
    overflow-x: scroll;
padding-left: .8rem;
    scrollbar-width: none;
  }
  .sym span{
    font-size: 10px;
  }
  .top-doc{
    width: 100%;
    margin-top: 2rem;
    padding: 0px 1rem 0px 1rem;
  }
  .doc-div{
    margin: 0;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
   justify-content: flex-start;
  }
  .dr-card{
    width: 18rem;
    height: auto;

  }
  .top-doctors{
    font-size: 22px;
  }
  .outer-doc-div{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: .7rem;
        padding-right: .7rem;
    gap: 22px;
    overflow-x: scroll;
            margin: 0 .4rem 0 .4rem;
            scrollbar-width: none;

  }
  .works-div-inner{
    width: 11rem;
    height: fit-content;
  }
  .works-div-inner p{
    font-size: 10px;
  }
  .works-div-inner h4{
    font-size: 14px;
  }
  *{
    font-size: 16px;
  }
  .works-div h3{
    margin-top: 0;
  }
  .anytime{
    font-size: 38px;
  }
  .consult-text{
    font-size: 13px;
  }
  .btn{
    width: 9rem;
    font-size: 14px;
  }
  .view-doc-btn{
    padding: 0 6px 0 6px;
  }
  .consult-btn{
    padding: 1px 2px 1px 2px;
    font-size: 14px;
  }
  .right-arrow{
    display: none;
  }
  .department{
    margin: 1px;
    width: 19rem;
    font-size: 12px;
    height: 6rem;
  }
.dept-icon{
  font-size: 1.5rem;
}
  .dept-para{
    font-size: 12px;
  }
  .dept-div{
    width: 100%;
    gap: 19px;
    margin-top: 2rem;
    flex-wrap: nowrap;
    padding: 0 1rem 0 1rem;
    overflow-x: scroll;
    justify-content: flex-start;
    scrollbar-width: none;
  }
  .dept-name{
    font-size: 13px;
  }
  .footer{
flex-wrap: nowrap;
    gap: 1rem;
    padding: 0px;
  }
  .left-footer{
    display: none;
  }
  .book-app-text{
    font-size: 24px;
    text-align: center;
  }
.inner-hero{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sort{
  margin-right: 1rem;
  font-size: 10px;
  width: 8rem;
  padding: 1px 2px 1px 2px;

}
.search-doctor{
  font-size: small;
  width: 10rem;
}

.dr-card{
  width: 11rem;
  font-size: 12px;
}
.alldoc-div{
display: flex;
justify-content:space-between;
}
.outer-doc{
  margin: 1rem .4rem 1rem .4rem;
}
.speciality{
  font-size: 13px;
}

.dr-name{
  font-size: 15px;
}

.dr-exp{
  font-size: 12px;
}
.dept-h2{
  font-size: 22px;
}
.foo i{
  font-size: 1.4rem;
}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}
.opt option{
  color: black;
}

@media (max-width:1024){
  .outer-doc-div{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
    flex-wrap: wrap;
  }
  .dr-card{
    margin-right: .5rem;
  }
}

